@font-face {
    font-family: "Next";
    src: url('../misc/TheNextFont.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    margin: auto;
    font-family: 'Inria Sans', sans-serif;
    color: #FFE66B;
    background-color: #222222;
}

#hero {
    background-image: url(../misc/BMty.gif);
    background-size: cover;
    height: 100%;
    padding-bottom: 1rem;
}

#hero nav {
    margin-top: 0;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background-color: #ffffff00;
    border: none;
}

nav img {
    margin-left: 50%;
    width: 6vw;
}

#hero div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#hero a {
    color: #FFE66B;
    text-decoration: none;
    font-size: 1.875vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: .3s ;
}

#hero a:hover {
    color: #222222;
    text-decoration: underline;
    transition: .3s ;
}

#hero h1 {
    margin-top: 2rem;
    font-family: "The Next Font";
    font-size: 10.417vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav {
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #222222;
    border-bottom: 1px solid #FFE66B;
    z-index: 3;
}

nav a {
    color: #FFE66B;
    text-decoration: none;
    font-size: 1.875vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: .3s ;
}

nav a:hover {
    color: #FFF;
    transition: .3s ;
}

nav div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#hero h2 {
    margin-top: -10%;
    font-size: 3.854vw;
    padding-bottom: 5rem;
    text-transform: capitalize;
}

#intro {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro h2 {
    font-size: 2.708vw;
    font-weight: 600;
    line-height: normal;
}

#intro p {
    text-align: center;
    color: #FFF;
    font-size: 1.875vw;
    font-weight: 300;
    line-height: normal;
    width: 65%;
}

#maranello {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    
}

#maranello h2 {
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#maranello div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.hamilton-text{
    background-image: url(../misc/hamilton1.png);
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
} 

#maranello div h2 {
    text-align: left;
    font-family: "The Next Font";
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0;
}

#maranello div h2 span {
    color: #FFF;
}

#maranello p {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 65%;
}

.enlace {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: right;
    font-size: 1.5rem;
}

.enlace a {
    color: #FFF;
}

#giallo-modena {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 15%;
}

#giallo-modena h2 {
    text-align: center;
    font-family: "The Next Font";
    font-size: 8.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#giallo-modena h3 {
    color: #FFF;
    margin-top: -12%;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#giallo-modena div {
    margin-bottom: -8%;
    z-index: 2;
}

#giallo-modena  p {
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 70%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    border-top: 1px solid #FFE66B;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 3rem;
}

footer a:hover {
    color: #FFF;
    transition: .3s;
}
footer a {
    transition: .3s;
}
.socials {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.socials a {
    color: #FFE66B; 
    font-size: 1.2rem;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.info a {
    color: #FFE66B;
    text-decoration:none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: -50%;
}

.info ul {
    list-style: none;
    margin-left: 0;
}

footer h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

form input {
    cursor: pointer;
    color: #FFE66B;
    border: 1px solid #FFE66B;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ffffff00;
    transition: .3s;
}

form input[type="submit"]:hover {
    cursor: pointer;
    border: 1px solid #FFF;
    color: #FFF;
    transition: .3s;
}

.newsletter {
    background-color: #ffffff00;
    border: none;
    border-bottom: 1px solid #FFE66B;
    width: 150%;
    cursor: text;
}
.newsletter:placeholder{
    color: rgba(255, 230, 107, 0.75);
}
.newsletter:focus {
    outline: none;
}


@media screen and (max-width: 480px) {

    #hero {
        height: 100vh;
    }

    #hero h1 {
        font-size: 3.5rem;
    }

    #hero h2 {
        font-size: 2rem;
    }

    #hero nav a {
        margin-top: 1rem;
        font-size: 1rem;
    }

    #hero nav img {
        display: none;
    }

    nav {
        display: none;
    }
}