@font-face {
    font-family: "Next";
    src: url('../misc/TheNextFont.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    margin: auto;
    font-family: 'Inria Sans', sans-serif;
    color: #FFE66B;
    background-color: #222222;
}

#hero {
    background-image: url(../misc/BMty.gif);
    background-size: cover;
    height: 100%;
}

#hero nav {
    margin-top: 0;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background-color: #ffffff00;
    border: none;
}

#hero div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#hero a {
    color: #FFE66B;
    text-decoration: none;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: .3s ;
}

#hero a:hover {
    color: #222222;
    text-decoration: underline;
    transition: .3s ;
}

#hero h1 {
    margin-top: 1.5rem;
    font-family: "The Next Font";
    font-size: 190px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav {
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #222222;
    border-bottom: 1px solid #FFE66B;
}

nav a {
    color: #FFE66B;
    text-decoration: none;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: .3s ;
}

nav a:hover {
    color: #222222;
    text-decoration: underline;
    transition: .3s ;
}

nav div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#hero h2 {
    margin-top: -10%;
    font-size: 74px;
    padding-bottom: 5rem;
}

#intro {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro h2 {
    font-size: 3.25rem;
    font-weight: 600;
    line-height: normal;
}

#intro p {
    text-align: center;
    color: #FFF;
    font-size: 2.25rem;
    font-weight: 300;
    line-height: normal;
    width: 65%;
}

#maranello {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    
}

#maranello h2 {
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#maranello div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.hamilton-text{
    background-image: url(../misc/hamilton1.png);
    background-size: cover;
    width: 100%;
} 

#maranello div h2 {
    text-align: left;
    font-family: "The Next Font";
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

#maranello div h2 span {
    color: #FFF;
}

#maranello p {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 65%;
}

.enlace {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

#maranello a {
    text-align: right;
    color: #FFF;
    font-size: 1.5rem;
}